- content_for :css do
  = stylesheet_link_tag 'megafolio/fancybox/jquery.fancybox.css?v=2.1.3'

- content_for :javascript do
  = javascript_include_tag 'megafolio/fancybox/jquery.fancybox.pack.js?v=2.1.3'
  :javascript
    $(document).ready(function() {
      // THE FANCYBOX PLUGIN INITALISATION
      jQuery(".fancybox").fancybox();
    });
 
