.container
  %h2.page-title= page_title! 'Contacto'

  .content
    .content-inner
      = render 'form'
      .contact-info
        %h3 Alonso Valencia
        %p
          %span 983713858
          %br
          %span facebook.com/djjalonsovalencia
          %br
          %span eventos@alonsovalencia.com
