.container
  %h2.page-title= page_title! 'Contacto'

  .content
    .content-inner
      = render 'form'
      .contact-info
        %h3 Alonso Valencia
        %p
          %span 99123456
          %br
          %span 345-3453
          %br
          %span info@alonsovalencia.com
