%ul.social.social-follow
  %li.facebook
    = link_to '', 'https://www.facebook.com/djjalonsovalencia', class: '', target: '_blank'
  %li.email
    = link_to '', 'mailto:eventos@alonsovalencia.com', class: '', target: '_blank'
