%ul.social.social-follow
  %li.twitter
    = link_to '', '#', class: '', target: '_blank'
  %li.facebook
    = link_to '', '#', class: '', target: '_blank'
  %li.rss
    = link_to '', '#', class: '', target: '_blank'
  %li.email
    = link_to '', '#', class: '', target: '_blank'
