.container
  %h2.page-title= page_title! 'Agregar Evento'

  .content
    .content-inner
      = render 'form'

      = link_to 'Show', @evento, class: 'button button-show'
      \|
      = link_to 'Back', eventos_path, class: 'button button-back'
