= render 'scripts/megafolio'

.container
  %h2.page-title= page_title! @evento.titulo

  - if current_admin 
    .administrate.create
      = link_to 'Editar Evento', edit_evento_path(@evento), class: 'btn btn-primary'

  .content
    .content-inner.megafolio-container
      - @fotos.each_with_index do |foto, index|
        .div{:class => 'mega-entry cat-all cat-one', :id => 'mega-entry-' + index.to_s, :"data-src" => foto.imagen_url(:eventos_index).to_s, :"data-width" => '504', :"data-height" => '400'}





     
             

 
