

body {background: $bg-gray; font-family: $font-open-sans; color: $dark; line-height: 100%; font-size: 13px; overflow-y: scroll}
h1, h2, h3, h4, h5, h6, p, span, li, dd, a, input {color: $dark; margin: 0; 
line-height: 100%; font-weight: 300; font-family: $font-open-sans}
h2.page-title, h2.title {background: $cyan; color: white; @include inline-block; text-transform: uppercase; 
padding: 10px; border-bottom: $title-bottom solid white; line-height: 115% }
ul, ol, dl, p {margin: 0} li {list-style: none}
p {line-height: 145%; font-size: 15px; text-align: justify; padding-bottom: 20px}
figure {margin: 0}
section {padding-bottom: $row-bottom;}

header .container {
  position: relative; width: 960px;
  background: $bg-header; -pie-background: $bg-header-pie; @include css3pie;
  .header-inner {height: 120px; margin: 0 25px 0 24px; background: $bg-header-inner;
    #logo {position: absolute; top: 15px; left: 20px}
    #logo-dragon {position: absolute; top: 10px; right: 20px}
  }
}

nav.main-menu {
  position: relative; 
  ul {position: absolute; bottom: 18px; left: 0; margin: 0px;
    li {float: left; list-style: none; background: $bevel-menu; padding: 10px 2px 0 0; height: 25px;
      a, span {text-transform: uppercase; @include text-shadow; @include inline-block; padding: 6px 24px}
      a:hover, span {
          text-decoration: none;
          color: white; background: $cyan; text-shadow: none;
        }
      &.last {padding-right: 0; background: none}
    }
  }
}

section#content {
  background: white; overflow: hidden;
  #preface-top {
    background: $bg-gray;
    .container {padding-top: 0}
  }
  .container {
    padding-top: 35px;
    .row {
      padding-bottom: $row-bottom
    }
  }
  .alert-container {
    @extend .container;
    padding-top: 8px; margin-top: 10px;
    .alert-inner {
      @include makeColumn(12)
    }
  }
}

footer {
  background: $shadow-footer;
  .container { height: 245px; 
    .footer-credits {padding-top: 30px;
      a, p {color: white; line-height: 100%; display: block; margin: 0}
      #autor {text-align: right}
    }
  }
}

.front #preface-top { padding-bottom: 5px;
  .container { height: 380px; background: $shadow-slider}
}

.region {
  @extend .row;
}
.carousel { margin: 0;
  .carousel-indicators {top: 104%; right: 0; width: 100%; text-align: center;
    li { @include size(20px, 20px); @include inline-block; background: $slider-controls; cursor: pointer;
      &.active {
        background-position: 0 0;
      }
    }
  }
  a.carousel-control {top: 48%; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif}
}
#alquilerCarousel {
  .carousel-inner {width: 795px; margin: 0 auto;
    .thumbnails {margin: 0; padding-top: 8px;
      li {margin-left: 0px; padding-left: 20px; width: 236px;
        &:hover {img {max-width: 240px; top: -8px; left: -10px; border-color: $gray}}
        img {@include border; max-width: 220px; position: relative; top: 0; left: 0;
          @include transition1;
        }
        h3 {text-align: center; @include text-heavy}
      }
    }
  }
  .carousel-control {background: none; color: $gray; font-weight:600; top: 120px}
}


.bordered {
  img {@include border}
}

.dj-presentation {
  img {max-width: 442px}
  p {padding-top: 20px}
}
.testimonios {
  p {text-align: center; font-size: 28px; padding: 0 5%}
  h3 {text-align: right; @include text-heavy;  padding-top: 20px; padding-right: 5%;
    &:before {content: "- "}
  }
}

// social links
.social {
  text-align: right;
  li {
    list-style: none; @include inline-block;
    a {
      background: $social-icons; @include inline-block; @include size(87px, 110px);
    }
  }
  &.social-follow {padding-top: 80px;
    li {
      &.twitter a {background-position: -0px 15px }
      &.facebook a {background-position: -88px 15px }
      &.rss a {background-position: -176px 15px }
      &.email a {background-position: -265px 15px }

      &.twitter a:hover {background-position: -0px -115px }
      &.facebook a:hover {background-position: -88px -115px }
      &.rss a:hover {background-position: -176px -115px }
      &.email a:hover {background-position: -265px -115px }
    }
  }
}

.content {
  @include makeRow();
}

// Admin
.administrate {
  padding-bottom: $row-bottom; 
  &.create {}
  &.iterate {padding: 5px 0; text-align: right}
}

// Inicio
.dj-presentation {
  .dj-presentation-foto {
    @extend .borderer;
    @include makeColumn(6);
  }
  .dj-presentation-likebox {
    @include makeColumn(6);
  }
}
.alquiler-equipos {
  .alquiler-equipos-detalle {}
}
.testimonios {
  .testimonios-detalle, .testimonios-autor {}
}
.soundcloud-gallery {
  li {padding-bottom: $row-bottom}
}

.alquiler-equipos-detalle,
.testimonios-detalle, .testimonios-autor,
.soundcloud-gallery,
.content-inner {@include makeColumn(12)}

// forms
form {background: $cyan; padding: $row-top 0 $row-bottom; 
  &:after {@include clearfix2;
  }
  .fields {width: 100%; float: left; }
    
  .field, .actions {margin: 0; padding-bottom: 15px;
    .button-delete {margin-top: 5px}
    .button-create {margin-top: 5px; margin-left: 105px; float: left; clear: left}
  }
  .datos {padding-left: 100px}
  .mensaje {padding-right: 135px}
  .field {
    label {@include inline-block; width: 90px; text-align: right; padding-right: 10px; text-transform: uppercase; font-size: 16px; color: white; font-weight: 300; padding-top: 10px}
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea, .tagsinput {width: 230px; padding: 10px; background: white; border: 0; color: black; height: auto; margin: 0;
      border-radius: 3px; @include css3pie; @include inline-block;
    }
    textarea {height: 150px; min-height: 150px; resize: vertical; @include textarea-size}
    input[type="file"] {margin-top: 5px}
  }
  .actions {padding-right: 40px;
    input {@include submit; float: right }
  }
}

#contactos .actions {padding-right: 0}

.contact-info {padding: $row-top 0 0 40px;
  h3 {@include text-heavy; padding-bottom: 10px}
  span {@include button; margin-top: 10px; padding: 10px}
}

// about dj
#djalonso {
  figure {
    &.pictures {width: 105%}
    @include makeColumn(12); padding-bottom: $row-bottom; padding-top: $row-top;
    img {@include border; float: left; margin-right: 25px; width: 280px}
  }
  aside {
    @include makeColumn(12);
    img {@include image-left}
    p {overflow: hidden}
  }
}

// álbumes
#albumes {
  .content {
    ul {width: 105%;
      li {float: left; margin: 0 30px 30px 0; position: relative; @include size(300px, 250px); z-index: 10;
        @include list-heading;        
        &:hover {z-index: 20}
        &:hover h3 {visibility: visible; opacity: 1; filter: alpha(opacity=100); top: 0}
        &:hover img {width: 340px; max-width: 340px; height: auto; left: -20px; top: -20px; border-color: $gray}
        img { @include border; position: absolute; top: 0; left: 0; @include size(300px, 250px); max-width: 300px; @include transition1}
      }
    }
  }
  .administrate.iterate {margin-top: 270px}
}

.gallery-list {
  @include list-heading;

}


// servicios
#servicios {
  .servicios-item {padding-bottom: $row-bottom; width: 100%; float: left; clear: left;
    .servicios-fields {display: table;
      .servicios-fields-inner {display: table-row;
        p {display: table-cell; vertical-align: middle; width: 100%}
        .servicio-descripcion {
          display: table-row;
        }
      }
    }
  } 
  &.new, &.edit {
    .tagsinput {@include textarea-size; height: 200px !important }
  }
}
.servicios-list {
  h3 {@include text-heavy; padding-bottom: $sub-title-bottom}
  img {@include border; @include image-left; vertical-align: top }
  ul {float: left; clear: left; width: 100%;
    li {@include button; float: left; clear: left; margin-top: $sub-title-bottom; padding-left: 15px; padding-right: 15px}
  }
}

// buttons inheritance
.button {
  &.button-create {
    @extend .btn;
    @extend .btn-info;
  }
  &.button-update {
    @extend .btn;
    @extend .btn-success; 
  }
  &.button-delete {
    @extend .btn;
    @extend .btn-warning;
  }
  &.button-back {
  //  @extend .btn;
  // @extend .btn-info;
  @include button; 
  }
  &.button-show {
    @extend .btn;
    @extend .btn-info;
  }

}

.content-header {padding-bottom: $row-bottom/2; float: left; clear: left; width: 100%;
  h2.page-title, .button-back {float: left; clear: left}

}

// devise
body[id^="devise"] br {display: none}


.megafolio-container{  width:100%; 
   position:relative;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
}


body .mega-white .mega-title {color: white; background: $gray; position: absolute; top: -80px; left: 10px; padding: 10px;
font-weight: 300; max-width: 80%}
body .mega-white .mega-title h3 a {color: white; line-height: 115%}
body .mega-entry .mega-entry-innerwrap {border-color: $cyan}
body .mega-portrait .mega-portrait-bottom {top: 0; bottom: auto}
body .mega-covercaption {height: 100%; background: transparent}
body .mega-date {background: $gray; color: white; position: absolute; top: auto; bottom: -80px; left: 10px; 
@include inline-block; padding: 10px}
body .mega-white .mega-date {color: white; font-size: 18px; text-align: center; line-height: 100%}
body .mega-white .mega-date .date-day {font-size: 36px; line-height: 100%}

body .mega-entry .mega-title,
body .mega-entry .mega-date {opacity: 0; filter: alpha(opacity=0); visibility: hidden;
@include transition1;}

body .mega-entry:hover .mega-title,
body .mega-entry:hover .mega-date {opacity: 1; filter: alpha(opacity=100); visibility: visible}

body .mega-entry:hover .mega-title {top: 10px}
body .mega-entry:hover .mega-date {bottom: 10px;}
body .mega-entry:hover .mega-entry-innerwrap {border-color: $gray}

.mega-entry .fake-click {display: block; @include size(100%, 100%)}
